html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  scroll-behavior: smooth; }
  html body {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    scroll-behavior: smooth; }
  html nav {
    position: fixed;
    height: 5%;
    width: 100vw;
    background-color: black;
    text-align: center;
    z-index: 20; }
    html nav ul {
      display: inline-flex;
      line-height: 5%; }
      html nav ul li {
        list-style: none;
        margin-left: 2em; }
        html nav ul li a {
          color: white;
          text-decoration: none;
          position: relative; }
          html nav ul li a:hover {
            color: yellow; }
          html nav ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -20%;
            left: 0;
            background-color: yellow;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.25s cubic-bezier(1, 0.25, 0, 0.75) 0s;
            transition: all 0.25s cubic-bezier(1, 0.25, 0, 0.75) 0s; }
          html nav ul li a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  html .bgimg-systeme_solaire {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/systeme_solaire.jpg");
    min-height: 100%; }
    html .bgimg-systeme_solaire .caption {
      position: absolute;
      left: 47%;
      top: 70%;
      text-align: center;
      color: #000; }
      html .bgimg-systeme_solaire .caption .border1 {
        background-color: #111;
        color: black;
        padding: 18px;
        font-size: 50px;
        letter-spacing: 10px;
        position: relative;
        -webkit-text-stroke: 1px white; }
        html .bgimg-systeme_solaire .caption .border1:before {
          content: attr(data-text);
          position: absolute;
          left: 0;
          width: 100%;
          height: 0;
          color: white;
          overflow: hidden;
          transition: all ease 1s; }
        html .bgimg-systeme_solaire .caption .border1:hover:before {
          height: 100%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
    html .div-expl p .chiffres {
      font-size: 1.5em;
      color: #dada0a; }
  html .bgimg-soleil {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/soleil.jpg");
    min-height: 80%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
  html .bgimg-mercure {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/mercure.jpeg");
    min-height: 80%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
    html .div-expl p .chiffres {
      font-size: 1.5em;
      color: #dada0a; }
  html .bgimg-venus {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/venus.jpg");
    min-height: 80%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
    html .div-expl p .chiffres {
      font-size: 1.5em;
      color: #dada0a; }
  html .bgimg-terre {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/terre.jpg");
    min-height: 80%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
    html .div-expl p .chiffres {
      font-size: 1.5em;
      color: #dada0a; }
  html .bgimg-mars {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/mars.jpg");
    min-height: 80%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
    html .div-expl p .chiffres {
      font-size: 1.5em;
      color: #dada0a; }
  html .bgimg-jupiter {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/jupiter.jpg");
    min-height: 80%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
    html .div-expl p .chiffres {
      font-size: 1.5em;
      color: #dada0a; }
  html .bgimg-saturne {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/saturne.jpg");
    min-height: 80%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
    html .div-expl p .chiffres {
      font-size: 1.5em;
      color: #dada0a; }
  html .bgimg-uranus {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/uranus.jpg");
    min-height: 80%; }
  html .div-expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify; }
    html .div-expl h3 {
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font: 20px "Lato", sans-serif;
      color: #ddd; }
    html .div-expl p .chiffres {
      font-size: 1.5em;
      color: #dada0a; }
  html .bgimg-neptune {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/neptune.jpg");
    min-height: 100%; }

/*# sourceMappingURL=style.css.map */
