// sass --watch sass/style.scss:css/style.css
$thetransition: all .25s cubic-bezier(1, .25, 0, .75) 0s;
@mixin htmlbody {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    scroll-behavior: smooth;
}

@mixin bg-img {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin expl {
    color: #ddd;
    background-color: #282E34;
    text-align: center;
    padding: 20px 80px;
    text-align: justify;
}

@mixin h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #ddd;
}

@mixin btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    &:after,
    &:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        transition: all 1s;
    }
    &:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid white;
        border-left: 5px solid white;
    }
    &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
    }
    &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        // background:rgba(0,0,0,.5);
        // color:white;
        &:before,
        &:after {
            width: 100%;
            height: 100%;
            // border-color:white;
        }
    }
}

@mixin div1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
}

@mixin div2 {
    width: 50vw;
}

@mixin chiffres {
    font-size: 1.5em;
    color: rgb(218, 218, 10);
    @media screen and (max-width: 800px) {
        font-size: 1em;
    }
}

@mixin chiffres_hover {
    font-style: italic;
    color: rgb(255, 166, 0);
    cursor: crosshair;
    transform: scale(3);
}

@mixin div3 {
    display: flex;
}

@mixin div4 {
    margin: auto;
}

@mixin img {
    width: 300px;
    transition: scale(1.0);
    position: relative;
    z-index: 10;
    transition: transform 1S;
    &:hover {
        transform: scale(1.5);
        z-index: 15;
    }
}

html {
    @include htmlbody;
    body {
        @include htmlbody;
    }
    nav {
        position: fixed;
        height: 5%;
        width: 100vw;
        background-color: black;
        text-align: center;
        z-index: 20;
        ul {
            display: inline-flex;
            line-height: 5%;
            li {
                list-style: none;
                margin-left: 2em;
                a {
                    color: white;
                    text-decoration: none;
                    position: relative;
                    &:hover {
                        color: yellow;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        bottom: -20%;
                        left: 0;
                        background-color: yellow;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: $thetransition;
                        transition: $thetransition;
                    }
                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 800px) {
        nav {
            visibility: hidden;
        }
    }
    .satellite {
        a {
            img {
                width: 3%;
                position: fixed;
                top: 0;
                left: 1%;
                z-index: 30;
            }
        }
    }
    @media screen and (max-width: 800px) {
        .satellite {
            visibility: hidden;
            a {
                img {
                    z-index: 0;
                }
            }
        }
    }
    .menu_responsive {
        position: fixed;
        visibility: hidden;
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 800px) {
        .menu_responsive {
            visibility: visible;
            text-align: center;
            width: 100vw;
            background-color: black;
            z-index: 10;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
    .bgimg-systeme_solaire {
        @include bg-img;
        background-image: url("../img/systeme_solaire.jpg");
        min-height: 100%;
        .fill-effect {
            position: absolute;
            left: 47%;
            top: 70%;
            text-align: center;
            color: #000;
            &:hover {
                .fill-effect-fill {
                    clip-path: inset(0 0 0 0);
                }
            }
            .fill-effect-stroke {
                position: absolute;
                width: 500px;
                font-size: 50px;
                color: rgba(white, 0);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: white;
                z-index: 10;
            }
            .fill-effect-fill {
                position: absolute;
                width: 500px;
                font-size: 50px;
                color: white;
                z-index: 1;
                clip-path: inset(100% 0 0 0);
                transition: clip-path 1600ms ease;
            }
        }
    }
    @media screen and (max-width: 970px) {
        .bgimg-systeme_solaire {
            .fill-effect {
                left: 10%;
                .fill-effect-stroke {
                    font-size: 40px;
                }
                .fill-effect-fill {
                    font-size: 40px;
                }
            }
        }
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-soleil {
        @include bg-img;
        background-image: url("../img/soleil.jpg");
        min-height: 80%;
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-mercure {
        @include bg-img;
        background-image: url("../img/mercure.jpeg");
        min-height: 80%;
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-venus {
        @include bg-img;
        background-image: url("../img/venus.jpg");
        min-height: 80%;
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-terre {
        @include bg-img;
        background-image: url("../img/terre.jpg");
        min-height: 80%;
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-mars {
        @include bg-img;
        background-image: url("../img/mars.jpg");
        min-height: 80%;
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-jupiter {
        @include bg-img;
        background-image: url("../img/jupiter.jpg");
        min-height: 80%;
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-saturne {
        @include bg-img;
        background-image: url("../img/saturne.jpg");
        min-height: 80%;
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-uranus {
        @include bg-img;
        background-image: url("../img/uranus.jpg");
        min-height: 80%;
    }
    .div-expl {
        @include expl;
        h3 {
            @include h3;
            .btn {
                @include btn;
            }
        }
        .div1 {
            @include div1;
            .div2 {
                @include div2;
                p {
                    .chiffres {
                        @include chiffres;
                    }
                    .chiffres:hover {
                        @include chiffres_hover;
                    }
                }
            }
            .div3 {
                @include div3;
                .div4 {
                    @include div4;
                    img {
                        @include img;
                    }
                }
            }
        }
    }
    .bgimg-neptune {
        @include bg-img;
        background-image: url("../img/neptune.jpg");
        min-height: 100%;
    }
}